canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#highscore {
    text-align: center;
    font-size: 30px;
    font-family: 'Comic Sans MS';
}

#scoreList {
    position: fixed;
    padding: 10px;
    top: 100px;
    left: 100px;
    background-color: red;
}

